/*
Theme Name: the7dtchild
Author: Dream-Theme
Author URI: http://dream-theme.com/
Description: The7 is perfectly scalable, performance and SEO optimized, responsive, retina ready multipurpose WordPress theme. It will fit every site – big or small. From huge corporate portals to studio or personal sites – The7 will become a great foundation for your next project!
Version: 1.0.0
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
Template: dt-the7
*/

@font-face {
    font-family: "YogaSansWeb W03 Regular";
    src: url("fonts/1468633/yoga-regular.eot?#iefix");
    src: url("fonts/1468633/yoga-regular.eot?#iefix") format("eot"),
    url("fonts/1468633/yoga-regular.woff2") format("woff2"),
    url("fonts/1468633/yoga-regular.woff") format("woff"),
    url("fonts/1468633/yoga-regular.ttf") format("truetype"),
    url("fonts/1468633/yoga-regular.svg#yoga-regular") format("svg");
}

@font-face {
    font-family: "YogaSansWebPro-Bold";
    src: url("fonts/1468621/yoga-bold.eot?#iefix");
    src: url("fonts/1468621/yoga-bold.eot?#iefix") format("eot"),
    url("fonts/1468621/yoga-bold.woff2") format("woff2"),
    url("fonts/1468621/yoga-bold.woff") format("woff"),
    url("fonts/1468621/yoga-bold.ttf") format("truetype"),
    url("fonts/1468621/yoga-bold.svg#yoga-regular") format("svg");
}

/* overrides leistungen top bar */

.article-top-bar .wf-container-top {
    border-bottom: 0px;
}

/* overrides home slideshow porthole background */

#main-slideshow.fixed {
    background-color: transparent;
}

/* overrides default body image */

body {
    background-image: none;
}

/* overrides Zulauf praxis distance between name and profession */

.team-author-name, .vf-team-author-name {
    margin-bottom: -2px !important;
    font: bold normal normal 20px / 28px "YogaSansWeb-Pro Bold", Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
}

/** new class for contact */

.vf-contact-email {
    color: #5B6770;

}

.vf-contact-email:hover {
    color: #D0DF00;
}

/** link download */

.vf-link-download {
    text-align: center;
    display: block;
    font-size: 36px;
    color: white !important;
}

/* downloads tweaks */

.vf-text-download {
    color: #ffffff !important;
    display: block;
    text-align: center;
}

.vf-link-download:hover {
    color: #D0DF00 !important;
}

/** overrided megamenu submenu */

.menu-item-object-dt_team {
    height: 50px;
}

.menu-item-object-dt_team.first {
    margin-top: 5px;
}

.menu-item-object-page {
    letter-spacing: 1px;
}

/** overrided submenu font */

.sub-nav > ul > li > a {
    font: normal normal 16px / 20px "YogaSansWeb W03 Regular", Helvetica, Arial, Verdana, sans-serif;
}

/** override submenu mobile font */

.dl-menuwrapper li > a {
    font: normal normal 14px / 16px "YogaSansWeb W03 Regular", Helvetica, Arial, Verdana, sans-serif;
}

li:not(.dt-mega-menu) .sub-nav, li:not(.dt-mega-menu) .sub-nav > ul {
    width: 200px;
}

/* removed floating text in portfolio details */

.dt_portfolio .wf-cell .floating-content {
    position: static !important;
}

/** tweak layer slider */

.ls-wp-fullwidth-container {
    margin-top: -50px !important;
}

/* start button home page */

.vf-link-start-site {
    color: #ffffff !important;
    border-radius: 3px;
    border-color: #ffffff !important;
}

.full-width-wrap {
    opacity: 1;
    width: 100% !important;
    margin-left: 0px !important;
}


/*.vf_button {*/
/*text-align: center;*/
/*height:200px;*/
/*}*/

/*.vf_start_button {*/
/*display: block;*/
/*text-decoration: none;*/
/*font-family:  "YogaSansWeb W03 Regular", Helvetica, Arial, Verdana, sans-serif;*/
/*color: white;*/
/*background-color: #5b6770;*/
/*width: 200px;*/
/*}*/
/*.vf_start_button span {*/
/*display: inline-block;*/
/*padding: 20px 30px 20px 30px;*/
/*color: white;*/
/*}*/

/*.vf_start_button:hover {*/
/*background-color: #D0DF00;*/
/*}*/

.vf-start-link:hover {
    background-color: #D0DF00;
}

/* disabled praxis parent option menu */

.menu-item-28 {
    cursor: pointer !important;
}

.menu-item-28:hover:enabled {

}

.single-dt_team .menu-item-28 a i.underline {
    width: 100% !important;
}

/** overrides gallery arrows */

.mfp-arrow-left .mfp-b, .mfp-arrow-left:before {
    border-right: 0px !important;
}

.mfp-arrow-right .mfp-b, .mfp-arrow-right:before {
    border-left: 0px !important;
}

.vf-contact-opening-times {
    text-align: right;
}

/* tablet adjustments */

@media (min-width: 480px) and (max-width: 767px) {

    .vf-contact-opening-times {
        text-align: left;
    }
}

/* mobile adjustments */

@media (max-width: 480px) {

    /** add margin bottom behandler in zulauf */
    .wf-cell {
        margin-bottom: 32px;
    }

    .vf-contact-opening-times {
        text-align: left;
    }
}

/* quick fix for Startsite */

@media (max-width: 480px) {

    #page {
        position: static !important;
    }
}

.vf-start-site-container {
    position: absolute;
    background-color: transparent;
    display: table;
    background-size: cover;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    width: 100%;
    height: 100%;
}

.vf-start-site-container .vf-start-site-wrapper {
    display:table-cell; text-align: center; vertical-align: middle
}

.vf-start-site-container .vf-start-site-container-link {
    border: 2px solid #ffffff; display: block; width: 200px; padding:10px; margin: 0 auto;
}

.vf-start-site-container .vf-button-margin-1 {
    margin-top:-40px;
}

.vf-start-site-container .vf-button-margin-2 {
    margin-top:30px;
}

.vf-start-site-container .vf-start-site-link {
    color:#fff;border-color:#fff; text-decoration: none;
}

/** fixed custom background issue */
body.custom-background {
    background-repeat: no-repeat !important;
    background-position: top center !important;
    background-attachment: fixed !important;
}

/* set portfolio related projects arrows centered: */

.related-projects .next {
    margin-top:-40px !important;
}

.related-projects .prev {
    margin-top:-40px !important;
}

.fullwidth-slider .project-list-media .buttons-on-img {
    cursor: pointer;
}
.fullwidth-slider .project-list-media .buttons-on-img > a {
    z-index: 0;

}

.fullwidth-slider .ts-cont{
    left: 0px !important;

}

.vf-title-portfolio-project {
    margin-top:-47px;
    background-color: #5b6770;
    opacity: 0.7;
    text-align: left;

}
.vf-title-portfolio-project a {
    text-decoration: none;
    color: #D0DF00;
    line-height: 20px;
    z-index: 2;
    font-size: 12px;
    padding-left: 10px;

}
